body{
  /* background-image: url(./img/motaz.jpg); */
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}


